.detail-list {
    list-style-type: none;

    .detail-container {
        .detail-item {
            width: 90%;
        }
                &__delete {
                color: red;
                width: 10%;
        }
    }
}
