@import "../abstract/variables";

.button {
  border: 1px solid #999;
  outline: none;
  cursor: pointer;

  &-warn {
    background-color: $color-primary;
    color: $color-white;
  }

  &-flat {
    border: none;
    outline: none;
  }
}

